@font-face {
font-family: "ptsans";
font-weight: 400;
font-style: normal;
src: local("ptsans"),
     url("../fonts/ptsans.woff") format("woff"),
     url("../fonts/ptsans.woff2") format("woff2");
  }
@font-face {
  font-family: "ptsans";
  font-weight: 700;
  font-style: normal;
  src: local("ptsans"),
       url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
  }
@font-face {
  font-family: "cuprum";
  font-weight: 400;
  font-style: normal;
  src: local("cuprum"),
       url("../fonts/cuprum.woff") format("woff"),
       url("../fonts/cuprum.woff2") format("woff2");
  }
@font-face {
  font-family: "cuprum";
  font-weight: 700;
  font-style: normal;
  src: local("cuprum"),
       url("../fonts/cuprumbold.woff") format("woff"),
       url("../fonts/cuprumbold.woff2") format("woff2");
  }
@font-face {
  font-family: "cuprum";
  font-weight: 700;
  font-style: italic;
  src: local("cuprum"),
       url("../fonts/cuprumbolditalic.woff") format("woff"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2");
  }
@font-face {
  font-family: "cuprum";
  font-weight: 400;
  font-style: italic;
  src: local("cuprum"),
       url("../fonts/cuprumitalic.woff") format("woff"),
       url("../fonts/cuprumitalic.woff2") format("woff2");
  }

:root {
  --basic-white: #FFFFFF;
  --basic-black: black;
  --basic-background: #F1F5F7;
  --Basic-greylight: #C5C5C5;
  --Basic-grey: #32425C;
  --Basic-green: #63A63E;
  --Succes: #5FBB2D;
  --Basic-red: #EE3643;
  --Special-yellow: #FFBF47;
  --Success: #5FBB2D;
  --Error: #BA2732;
  --Button-Grey: #A9A9A9;
  --Button-red: #CA2C37;
  --Button-click: #BA2732;
  --Card:#3BBCE3;
  --Card1:#DC91D8;
  --Card2: #8ED78F;
  --Card3: #FFC047;
  --Grey-focus:#161D29;
  --nav-hover: #293449;
  --nav-focus: #1D2739;
  --A-footer: #FFD180;

}
  /* Основные кнопки */

.button-main {
  font-family: "cuprum","Arial",sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--Basic-red);
}
.button-main:hover {
  background: var(--Button-red);

}
.button-main:focus {
  background: var(--Button-click);
}

  /* Основные кнопки */
.button {
  color: var(--Basic-grey);
  font-size: 21px;
  line-height: 21px;
}
.main-body {
  min-width: 1200;
  padding: 0;
  font-family: "cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
}
img {
  max-width: 100%;
  height: auto;
}
  /* ШАПКА ОСНОВНОЕ */

.main-header  {
  background-color: var(--basic-background);
  font-family: "cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.main-header-container {
  background-color: var(--Basic-grey);

}
.main-header-container a {
  text-decoration: none;
}

  /* ШАПКА ОСНОВНОЕ */
  /* ШАПКА ВЕРХНИЙ БЛОК */

.main-header-container-bookmarks:focus {
  background: var(--Grey-focus) ;
  opacity: 0.5;
}
.main-header-container-basket:focus {
  background: var(--Grey-focus) ;
  opacity: 0.5;
}
.main-header-container-order:focus {
  background: var(--Basic-green);
  opacity: 0.5;
}
.main-header-container-order{
  background-color: var(--Basic-green);
}

h1 {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--Basic-red)
}

.header-contact {
  font-family: "cuprum", "Arial" sans-serif;
  color: var(--Basic-grey);
  font-size: 14px;
  line-height: 24px;
}
.header-contact-tel {
  color: var(--Basic-red);
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  border: 3px solid var(--basic-white);
}
.button-header {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);

}
.button-header:hover {
  color: var(--Basic-red)
}
.button-header:focus{
  color: var(--Basic-greylight)
}

/* ШАПКА ВЕРХНИЙ БЛОК */

/* ШАПКА ОСНОВНАЯ НАВИГАЦИЯ */

.main-nav {
  background-color: var(--Basic-grey);
}
.main-nav-list, a {
  list-style: none;
  text-decoration: none;
  color: var(--basic-white)
}
.main-nav-list a:hover {
  background-color: var(--nav-hover);
}
.main-nav-list a:focus {
  background-color: var(--nav-focus);
  opacity: 0.5;
}

/* ШАПКА ОСНОВНАЯ НАВИГАЦИЯ */



.group-products-cart {
  font-weight: 700;
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
}
.button-product, .new-line {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}
.button-product:focus {
  background: var(--Button-Grey);
}
.button-product:hover {
  background-color: var(--Basic-greylight);
  opacity: 0.3;
}
.group-products-cart:nth-child(1) {
  background-color: var(--Special-yellow);

}
.group-products-cart:nth-child(2){
  background-color: var(--Card);
}
.group-products-cart:nth-child(3){
  background-color: var(--Card1);
}
.group-products-cart:nth-child(4){
  background-color: var(--Card2);
}
.group-products-cart:nth-child(5){
  background-color: var(--Card3);
}

.slider-main, h2 {
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;

}
.slider-main, p {
  font-size: 18px;
  line-height: 24px;
}
.best-products-cart{
  background: var(--basic-white);
  border: 1px solid;
}
.best-products h3 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--Basic-grey);
}
.best-products-list{
  list-style: none;
}
.best-products-list p {
  font-family: "ptsans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.best-products-list del {
  font-family: "ptsans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--Button-Grey);
  ;
}
.price-button {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-image: url(../img/red-button.png);

}

.best-company h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--Basic-grey)
}
.best-company-list {
  list-style: none;
}
.best-company-list-cart-img:hover {
  background: var(--basic-white);
  border: 1px solid var(--basic-white);
}
.best-company-list-cart-img:focus {
  opacity: 0.5;
}
.service-info h4 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--Basic-grey);
}
.service-info h3 {
  font-family: "cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
}

.service-info p {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.info-company h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;

}
.info-company p {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

}

.info-company-list {
  font-size: 18px;
  line-height: 24px;

}

.main-footer {
  background-color: var(--Basic-grey);
  list-style: none;
}
.main-footer p {
  color: var(--basic-white)
}
.main-footer a:hover {
  text-decoration: underline;
}
.main-footer a:focus {
  opacity: 0.5;
}
.footer-nav-list {
  list-style: none ;
}

.footer-products-list{
  list-style: none;
}
.footer-products-list a {
  font-family: "cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--A-footer);

}

.footer-social-icon {
  list-style: none;
}

.footer-contact  {
  color: var(--Special-yellow)
}
.write-us {

}
